
/* Теги */


h1 {
    background-color: rgb(29, 1, 61);
    color: rgb(213, 243, 214);
    margin: 10px 0;
}

footer {
    background-color: rgb(36, 18, 4);
    color: rgb(71, 65, 56);
}

/* Классы */

/* .main-nav {
    background-color: rgb(48, 43, 37);
    padding: 2px;
} */

.main-nav-ul {
    margin-top: 20px;
    padding-left: 2px;
}

.main-nav-ul li {
    display: inline-block;
}

.main-nav-ul a {
    color: greenyellow;
    background-color: rgb(58, 19, 94);
    padding: 5px;
    border-radius: 2px;
}


.main-nav-ul a:hover {
    font-weight: bold;
}

.sidebar {
    padding: 1.5em;
    background-color: rgb(14, 4, 22);
    border-radius: .5em;
}



.widget a {
    color: rgb(104, 98, 9);

}

.widget a:hover {
    color: rgb(0, 255, 0);
}